[submodule "/Users/priyadcosta/Documents/GitHub/coefficientofconflict/submodules"]
	path = /Users/priyadcosta/Documents/GitHub/coefficientofconflict/submodules
	url = https://github.com/Watts-Lab/team-process-map
